#Thu, 21 Mar 2013 09:49:58 -0500
# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
#workspace.classpath=
workspace.build.dir=${workspace.dir}/build/${app.name}

touch.dir=${workspace.dir}/touch
workspace.cmd.version=3.0.0.250
